*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# contao module
!.htaccess
*/log/**
*/log/**/*